<a href="<%= url_for controller: 'students', action: 'show' %>">Check student tagged to token</a>

<h1>Schools</h1>
<table>
  <thead>
    <tr>
      <th>Cluster</th>
      <th>School name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.cluster %></td>
        <td><%= school.name %></td>
        <td><a href="<%= url_for controller: 'students', action: 'taggable_students', school: school.code %>">Tag students</a></td>
        <td><a href="<%= url_for controller: 'students', action: 'list_students', school: school.code %>">View summary</a></td>
      </tr>
    <%= %>
  <% end %>
  </tbody>
</table>
