<% if @students.length > 0 %>
  <h2><%= @students.first.school.code %> <%=  @students.first.school.name %></h2>
  <h4>Cluster: <%= @students.first.school.cluster %></h4>
<% end %>

<a class="button" href="<%= url_for controller: 'students', action: 'show' %>">Check Tokens</a>

<h3>Overview</h3>
<table>
  <tr>
    <th></th>
    <th>Class</th>
    <th>Tagged</th>
    <th>Pending</th>
    <th>Already Collected</th>
    <th>Total</th>
    <th>Estimated Weight (g)</th>
  </tr>
  <tr>
    <th></th>
    <th>TOTAL</th>
    <td><%= @statuses['assigned'] || 0 %></td>
    <td><%= @statuses['pending'] || 0 %></td>
    <td><%= @statuses['error_quota'] || 0 %></td>
    <td><%= @statuses.values.reduce(0, :+) %></td>
    <td></td>
  </tr>
  <% @class_names.each do |c| %>
    <tr>
      <td><input type="checkbox"></td>
      <td><%= c %></td>
      <td><%= @counts_by_class[c]['assigned'] || 0 %></td>
      <td><%= @counts_by_class[c]['pending'] || 0 %></td>
      <td><%= @counts_by_class[c]['error_quota'] || 0 %></td>
      <td><%= @counts_by_class[c].values.reduce(0, :+) %></td>
      <td><%= (((@counts_by_class[c]['assigned'] || 0) * @token_weight) + @bag_weight).round(2) %></td>
    </tr>
  <% end %>
</table>

<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>Serial</th><th>Level</th><th>Class</th><th>Name</th><th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.serial_no %></td>
        <td><%= student.level %></td>
        <td><%= student.class_name %></td>
        <td><%= student.name %></td>
        
        <% if student.status == 'pending' %>
          <td class="bg-grey">
            <a href="<%= url_for controller: 'students', action: 'next_student', serial_no: student.serial_no, school: student.school_code %>">
              Pending tagging
            </a>
          </td>
        <% elsif student.status == 'assigned' %>
          <td class="bg-green">Tagged at <%= student.tagged_at.try(:in_time_zone, 'Asia/Singapore').try(:strftime, '%a %d %b %H:%M') %></td>
        <% elsif student.status == 'error_quota' %>
          <td class="bg-yellow">Student already collected a token</td>
        <% elsif student.status == 'error_nric' %>
          <td class="bg-red">Invalid NRIC</td>
        <% else %>
          <td><%= student.status %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
